## Quito columnas para optimizar recursos en el deploy

In [1]:
import pandas as pd

In [2]:
# cargo el DataSet
df_movies = pd.read_csv('movies_etl_api.csv')

In [3]:
pd.options.display.max_columns = None   # para ver todas las columnas

In [4]:
df_movies.head()

,budget,overview,revenue,title,release_year,return,country_name,name_production_compani,name_genres,name_franquicia,dia_es,mes_es
0,30000000,"Led by Woody, Andy's toys live happily in his ...",373554033.0,Toy Story,1995,12.451801,United States of America,Pixar Animation Studios,"Animation, Comedy, Family",Toy Story Collection,lunes,octubre
1,65000000,When siblings Judy and Peter discover an encha...,262797249.0,Jumanji,1995,4.043035,United States of America,"TriStar Pictures, Teitler Film, Interscope Com...","Adventure, Fantasy, Family",sin dato,viernes,diciembre
2,0,A family wedding reignites the ancient feud be...,0.0,Grumpier Old Men,1995,0.000000,United States of America,"Warner Bros., Lancaster Gate","Romance, Comedy",Grumpy Old Men Collection,viernes,diciembre
3,16000000,"Cheated on, mistreated and stepped on, the wom...",81452156.0,Waiting to Exhale,1995,5.090760,United States of America,Twentieth Century Fox Film Corporation,"Comedy, Drama, Romance",sin dato,viernes,diciembre
4,0,Just when George Banks has recovered from his ...,76578911.0,Father of the Bride Part II,1995,0.000000,United States of America,"Sandollar Productions, Touchstone Pictures",Comedy,Father of the Bride Collection,viernes,febrero

- columnas que no se utilizan:   
id , original_language, popularity, release_date, 
runtime, status, tagline, vote_average, name_languages

In [6]:
columnas_innecesarias = ['id' , 'original_language', 'popularity', 'release_date', 'runtime', 'status', 'tagline', 'vote_average', 'name_languages']

df_movies = df_movies.drop(columnas_innecesarias, axis=1)

In [15]:
# cambio la data que se exporto nula a sin datos 
df_movies['name_production_compani'] = df_movies['name_production_compani'].fillna('sin datos')
df_movies['country_name'] = df_movies['country_name'].fillna('sin datos')

In [16]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   budget                   45376 non-null  int64
 1   overview                 44435 non-null  object
 2   revenue                  45376 non-null  float64
 3   title                    45376 non-null  object
 4   release_year             45376 non-null  int64
 5   return                   45376 non-null  float64
 6   country_name             45376 non-null  object
 7   name_production_compani  45376 non-null  object
 8   name_genres              42992 non-null  object
 9   name_franquicia          45376 non-null  object
 10  dia_es                   45376 non-null  object
 11  mes_es                   45376 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 4.2+ MB

In [7]:
df_movies.head()

,budget,overview,revenue,title,release_year,return,country_name,name_production_compani,name_genres,name_franquicia,dia_es,mes_es
0,30000000,"Led by Woody, Andy's toys live happily in his ...",373554033.0,Toy Story,1995,12.451801,United States of America,Pixar Animation Studios,"Animation, Comedy, Family",Toy Story Collection,lunes,octubre
1,65000000,When siblings Judy and Peter discover an encha...,262797249.0,Jumanji,1995,4.043035,United States of America,"TriStar Pictures, Teitler Film, Interscope Com...","Adventure, Fantasy, Family",sin dato,viernes,diciembre
2,0,A family wedding reignites the ancient feud be...,0.0,Grumpier Old Men,1995,0.000000,United States of America,"Warner Bros., Lancaster Gate","Romance, Comedy",Grumpy Old Men Collection,viernes,diciembre
3,16000000,"Cheated on, mistreated and stepped on, the wom...",81452156.0,Waiting to Exhale,1995,5.090760,United States of America,Twentieth Century Fox Film Corporation,"Comedy, Drama, Romance",sin dato,viernes,diciembre
4,0,Just when George Banks has recovered from his ...,76578911.0,Father of the Bride Part II,1995,0.000000,United States of America,"Sandollar Productions, Touchstone Pictures",Comedy,Father of the Bride Collection,viernes,febrero

## Exporto nuevamente a csv

In [17]:
df_movies.to_csv('movies_etl_api.csv', index=False)

In [8]:
df = pd.read_csv('movies_etl_api.csv')
df

,budget,overview,revenue,title,release_year,return,country_name,name_production_compani,name_genres,name_franquicia,dia_es,mes_es
0,30000000,"Led by Woody, Andy's toys live happily in his ...",373554033.0,Toy Story,1995,12.451801,United States of America,Pixar Animation Studios,"Animation, Comedy, Family",Toy Story Collection,lunes,octubre
1,65000000,When siblings Judy and Peter discover an encha...,262797249.0,Jumanji,1995,4.043035,United States of America,"TriStar Pictures, Teitler Film, Interscope Com...","Adventure, Fantasy, Family",sin dato,viernes,diciembre
2,0,A family wedding reignites the ancient feud be...,0.0,Grumpier Old Men,1995,0.000000,United States of America,"Warner Bros., Lancaster Gate","Romance, Comedy",Grumpy Old Men Collection,viernes,diciembre
3,16000000,"Cheated on, mistreated and stepped on, the wom...",81452156.0,Waiting to Exhale,1995,5.090760,United States of America,Twentieth Century Fox Film Corporation,"Comedy, Drama, Romance",sin dato,viernes,diciembre
4,0,Just when George Banks has recovered from his ...,76578911.0,Father of the Bride Part II,1995,0.000000,United States of America,"Sandollar Productions, Touchstone Pictures",Comedy,Father of the Bride Collection,viernes,febrero
...,...,...,...,...,...,...,...,...,...,...,...,...
45371,0,"Yet another version of the classic epic, with ...",0.0,Robin Hood,1991,0.000000,"Canada, Germany, United Kingdom, United States...","Westdeutscher Rundfunk (WDR), Working Title Fi...","Drama, Action, Romance",sin dato,lunes,mayo
45372,0,An artist struggles to finish his work while a...,0.0,Century of Birthing,2011,0.000000,Philippines,Sine Olivia,Drama,sin dato,jueves,noviembre
45373,0,"When one of her hits goes wrong, a professiona...",0.0,Betrayal,2003,0.000000,United States of America,American World Pictures,"Action, Drama, Thriller",sin dato,viernes,agosto
45374,0,"In a small town live two brothers, one a minis...",0.0,Satan Triumphant,1917,0.000000,Russia,Yermoliev,NaN,sin dato,domingo,octubre
45375,0,50 years after decriminalisation of homosexual...,0.0,Queerama,2017,0.000000,United Kingdom,sin datos,NaN,sin dato,viernes,junio

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   budget                   45376 non-null  int64
 1   overview                 44435 non-null  object
 2   revenue                  45376 non-null  float64
 3   title                    45376 non-null  object
 4   release_year             45376 non-null  int64
 5   return                   45376 non-null  float64
 6   country_name             45376 non-null  object
 7   name_production_compani  45376 non-null  object
 8   name_genres              42992 non-null  object
 9   name_franquicia          45376 non-null  object
 10  dia_es                   45376 non-null  object
 11  mes_es                   45376 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 4.2+ MB